<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje aranzmana</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija aranzmana: {{data.id}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje aranzmana: {{data.id}}</h3>
  
    <form class="mat-dialog-content"  #formControl="ngForm">
  
      <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="data.Turisticka_agencija" placeholder="Turisticka_agencija" name="Turisticka_agencija" [compareWith]="compareTo" [disabled]="flag == 3">
            <mat-option *ngFor="let Turisticka_agencija of Turisticka_agencije" [value]="Turisticka_agencija">
              {{ Turisticka_agencija.naziv }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="ukupna_cena" [(ngModel)]="data.ukupna_cena" name="ukupna_cena" [disabled]="flag == 3">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-checkbox style="align-content: flex-end" [(ngModel)]="data.placeno" name="placeno"
            [disabled]="flag == 3">
            Plaćeno</mat-checkbox>
      </div>

      <div class="form">
        <mat-form-field>
            <input matInput [matDatepicker]="Datum_realizacije" placeholder="Datum_realizacije"
                [(ngModel)]="data.Datum_realizacije" name="Datum_realizacije" [disabled]="flag == 3">
            <mat-datepicker-toggle matSuffix [for]="Datum_realizacije"></mat-datepicker-toggle><!--ovde mzd malo d nzm-->
            <mat-datepicker #Datum_realizacije></mat-datepicker>
        </mat-form-field>
    </div>


  
      
    <div mat-dialog-actions>
      <button mat-button *ngIf="flag == 1" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="add()">Sačuvaj</button>
      <button mat-button *ngIf="flag == 2"  [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="update()">Sačuvaj</button>
      <button mat-button *ngIf="flag == 3"  [mat-dialog-close]="1" (click)="delete()">Obriši</button>
      <button mat-button (click)="cancel()" tabindex="-1">Poništi</button>
    </div>
  </form>
</div>