<div class="container">
    <h3 mat-dialog-title *ngIf="flagArtDialog == 1">Dodavanje turisticke agencije</h3>
    <h3 mat-dialog-title *ngIf="flagArtDialog == 2">Ažuriranje turisticke agencije: {{dataTuristickaAgencija.naziv}}</h3>
    <h3 mat-dialog-title *ngIf="flagArtDialog == 3">Brisanje turisticke agencije: {{dataTuristickaAgencija.naziv}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
       <div class="form">
        <mat-form-field>
            <input matInput placeholder="Naziv" name="Naziv" [disabled]="flagArtDialog==3" [(ngModel)]="dataTuristickaAgencija.naziv" required />
        </mat-form-field>
       </div>

       <div class="form">
        <mat-form-field>
            <input matInput placeholder="Adresa" name="Adresa" [disabled]="flagArtDialog==3" [(ngModel)]="dataTuristickaAgencija.adresa" required />
        </mat-form-field>
       </div>

       <div class="form">
        <mat-form-field>
            <input matInput placeholder="Kontakt" name="Kontakt" [disabled]="flagArtDialog==3" [(ngModel)]="dataTuristickaAgencija.kontakt" required />
        </mat-form-field>
       </div>

    </form>

    <div class="mat-dialog-actions">
        <button matButton *ngIf="flagArtDialog == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Sačuvaj</button>
        <button matButton *ngIf="flagArtDialog == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Modifikuj</button>
        <button matButton *ngIf="flagArtDialog == 3" mat-dialog-close="1" (click)="delete()">Obriši</button>
        <button matButton (click)="cancel()">Poništi</button>
    </div>
</div>