<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje aranzmana</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija aranzmana: {{data.id}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje aranzmana: {{data.id}}</h3>
  
    <form class="mat-dialog-content"  #formControl="ngForm">
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="ukupna_cena" [(ngModel)]="data.ukupna_cena" name="ukupna_cena" [disabled]="flag == 3">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-checkbox style="align-content: flex-end" [(ngModel)]="data.placeno" name="placeno"
            [disabled]="flag == 3">
            Plaćeno</mat-checkbox>
      </div>

      <div class="form">
        <mat-form-field>
            <input matInput [matDatepicker]="datum_realizacije" placeholder="datum_realizacije"
                [(ngModel)]="data.datum_realizacije" name="datum_realizacije" [disabled]="flag == 3">
            <mat-datepicker-toggle matSuffix [for]="datum_realizacije"></mat-datepicker-toggle><!--ovde mzd malo d nzm-->
            <mat-datepicker #datum_realizacije></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field><!--COMPARE N-->
          <mat-select [(ngModel)]="data.turisticka_agencija" placeholder="Turisticka_agencija" name="Turisticka_agencija" [compareWith]="compare" [disabled]="flag == 3">
            <mat-option *ngFor="let Turisticka_agencija of Turisticka_agencije" [value]="Turisticka_agencija">
              {{ Turisticka_agencija.naziv }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      
      <div class="mat-dialog-actions">
        <button matButton *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Sačuvaj</button>
        <button matButton *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Modifikuj</button>
        <button matButton *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Obriši</button>
        <button matButton (click)="cancel()">Poništi</button>
    </div>
  </form>
</div>