<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje hotela</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija hotela: {{data.id}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje hotela: {{data.id}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="naziv" name="naziv" [disabled]="flag==3" [(ngModel)]="data.naziv" required />
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field class="example-full-width">
                <input type="tel" matInput placeholder="broj_zvezdica" [(ngModel)]="data.broj_zvezdica" name="broj_zvezdica" required>
                <span matSuffix>zvezdica</span>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="opis" name="opis" [disabled]="flag==3" [(ngModel)]="data.opis" required />
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-select [(ngModel)]="data.destinacija" placeholder="Destinacija" name="Destinacija"
                    [compareWith]="compareTo" [disabled]="flag == 3">
                    <mat-option *ngFor="let Destinacija of Destinacije" [value]="Destinacija">
                        {{ Destinacija.mesto }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button *ngIf="flag == 1" [disabled]="!formControl.valid" [mat-dialog-close]="1"
                (click)="add()">Sačuvaj</button>
            <button mat-button *ngIf="flag == 2" [disabled]="!formControl.valid" [mat-dialog-close]="1"
                (click)="update()">Sačuvaj</button>
            <button mat-button *ngIf="flag == 3" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
            <button mat-button (click)="cancel()" tabindex="-1">Poništi</button>
        </div>
    </form>
</div>
